@font-face {
    font-family: game_font;
    src: url(./font/Yellowtail-Regular.ttf);
  }

html,body{
overflow: hidden;
}
  #elshabullet{
    height: 100vh;
    width: 100%;
    position: relative;
  }
  .homeplay{
    height: 100vh;
    width: 100%;
  }

  #play{
    background-image: url(./bgimg/level1.gif);
    transition: 1s all;
    animation-name: opac;
    animation-duration: 2s;
    animation-iteration-count: 1;
  }

  .control{
    position: absolute;
    left: 45%;
    bottom:5%;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    z-index: 1;
  }
  .pause{
    position: absolute;
    left: 5%;
    bottom:5%;
    border-radius: 100%;
    z-index: 1;
  }

  .control .all{
margin-left: -58px;
  }
  .control .btn{
    width: 50px;
    height: 50px;
  }

  @keyframes opac{
   0%{
    opacity: 0;
    filter: alpha(opacity=50);
   }
   100%{
    opacity: 1;
    filter: alpha(opacity=100);
   }
  }

  #over{
    height: 100vh;
    background-image: url(./bgimg/start\ up.gif);
    transition: 1s all;
    animation-name: opac;
    animation-duration: 5s;
    animation-iteration-count: 1;
  }
#elsha{
  animation-name:boss;
  animation-iteration-count: infinite;
  animation-duration: 5s;  
}
#bullet2{
  animation-name:boss;
  animation-iteration-count: infinite;
  animation-duration: 5s;  
}
#car{
  animation-name:boss;
  animation-iteration-count: infinite;
  animation-duration: 5s;  
}
#bullet{
  animation-name:boss;
  animation-iteration-count: infinite;
  animation-duration: 5s;  
}
.bullet{
    width: 30px;
    height: 15px;
    background-color: red;
    border: 2px solid black;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
}

#canvas{
    position: absolute;
    width: 100%;
    height: 100vh;
    border: 1px solid red;
}

@keyframes boss {
    0%{
        margin-top: 0px;
    }
    50%{
        margin-top: 10px;
    }
    100%{
        margin-top: 0px;
    }
}

  #level{
    position: absolute;
    left: 5%;
    top: 1%;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0px 0px 1px black;
    color: red;
    z-index: 1;
  }
  #enemyLife{
    position: absolute;
    left: 25%;
    top: 1%;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0px 0px 1px black;
    color: red;
    z-index: 1;
  }
  .life{
    position: absolute;
    right: 5%;
    top: 1%;
    display: flex;
    z-index: 1;
  }
  .life img{
    width: 40px;
    height: 40px;
    margin-right: 2px;
  }
  
  .container-fluid{
    height: 100vh;
    background-image: url(./bgimg/start\ up.gif);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s all;
    animation-name: opac;
    animation-duration: 5s;
    animation-iteration-count: 1;
  }


  .details{
    border: 2px double white;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
  .details2{
    border: 2px double white;
    padding: 20px;
    margin-bottom: 20px;
    width: 38%;
    margin-left: 32%;
  }
  .story{
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0px 0px 1px black;
    width: 38%;
    margin-left: 32%;
    background-color: rgba(0,0,0,0.4);
  }
  .mybtn{
    height: fit-content;
    width: 50%;
    /* margin-left: 20%; */
  }
  .mybtn button{
    margin-bottom: 30px;
    font-family: game_font;
    font-weight: bolder;
  }

   .game_name h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: yellow;
    text-shadow: 0px 3px 1px black;
  }
   .game_name p{
    font-family:game_font;
    font-size: 55px;
    font-weight: bold;
    color: yellow;
    text-shadow: 4px 0px 1px black;
    margin-top: -30px;
  }
   .line{
    width: 100%;
    height: 20px;
    border-bottom: 4px double red;
    border-bottom-right-radius: 200px;
    margin-top: -40px;
  }

  @media(max-width:1400px){
    .details2, .story{
      width: 100%;
      margin-left: 0%;
    }
  }
  @media(max-width:992px){
    .details, .details2, .story{
      width: 100%;
      margin-left: 0%;
    }
  }

  @media(max-width:520px){
    .dela{
        width: 100%;
       }
    .details .game_name h1,.details2 .game_name h1{
        font-size: 40px;
      }
      .details .game_name p,.details2 .game_name p{
        font-size: 35px;
        margin-top: -20px;
      }
  }